{% extends "base.html" %}
{%block title%}Home{% endblock %}
{%block content%}
<div class="jumbotron">
    <h1 class="display-4">Analyse d'un coin</h1>
    <hr class="my-4">
    <p class="lead">Prend 10-30 secondes pour télécharger les données depuis binance  :P .</p>
<form  method="post">
    <div class="row input-group">
        <div class="col-4">
            <label for="inputcoin">Crypto :</label>
            <select id="inputcoin" name="inputcoin"  class="form-control">
            <option selected value="BTC">[BTC]Bitcoin</option>
            <option value="ETH">[ETH]Ethereum</option>
            <option value="CHZ">[CHZ]Chiliz</option>
            <option value="AVAX">[AVAX]Avalanche</option>
            <option value="ADA">[ADA]Cardano</option>
            <option value="SOL">[SOL]Solana</option>
            <option value="XRP">[XRP]Ripple</option>
            <option value="DOT">[DOT]Polkadot</option>
            <option value="LTC">[LTC]Litecoin</option>
            <option value="FTM">[FTM]Fantom</option>
            <option value="XLM">[XLM]Stellar</option>
            <option value="LINK">[LINK]Chainlink</option>
            <option value="UNI">[UNI]Uniswap</option>
            <option value="FLOW">[FLOW]Flow</option>
            <option value="MATIC">[MATIC]Polygon</option>
            </select>
        </div>
        <div class="col-4">
            <label for="timeframe">TimeFrame :</label>
            <select id="timeframe" name="timeframe"  class="form-control">
            <option selected value="1h">Hourly</option>
            <option value="1d">Daily</option>
            <option value="1w">Weekly</option>
            </select>
        </div>
        <div class="col-4">
            <label for="period">Period :</label>
            <select id="period" name="period"  class="form-control">
            <option selected value="6">6 months</option>
            <option value="12">12 months</option>
            <option value="18">18 months</option>
            <option value="24">24 months</option>
            <option value="36">36 months</option>
            </select>
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary">Start Analyse</button>
        </div>
    </div>
</form>
</div>
{% endblock %}
