{% extends "base.html" %}
{%block title%}Web hookings{% endblock %}

{%block content%}
<script>
  document.getElementById("base").classList.add('container');
  document.getElementById("base").classList.remove('container-fluid');
</script>

<div class="jumbotron">
    <h1 class="display-4">Menu backs Tests</h1>
    <hr class="my-4">
    <p class="lead">Test d'un ou plusieurs indicateurs sur un pérdiode choisis.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" id="backtests_solo" href="/backtests_solo" role="button">Go for it</a></p>
    <hr class="my-4">
    <p class="lead">Optimisation des paramétres d'un indicateur sur une monnaies précise.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" id="backtest_param" href="/backtest_param" role="button">Go for it</a></p>
      <hr class="my-4">
    <p class="lead">Pas encore implémenté, faudra discuter du fonctionnement,Test de tout les indicateurs entre eux sur une période donné pour une monnaie donnée.</p>
    <p class="lead"></p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" id="backtest_fortnite" href="/backtest_fortnite" role="button">Go for it</a></p>
</div>
    
{% endblock %}
